{% spaceless %}
<!doctype html>
<html data-theme="{{ settings.extension_id }}" data-store="{{ store.id }}" class="page-{{ pages.current }}">
<head>

    <!-- tray charset -->
    {{ html.charset() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- tray meta tags -->
    {{ tray.meta }}

    <!-- tray styles -->
    {{ tray.styles }}

    <!-- theme styles -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" type="text/css">
    {% if settings.extension_id == '222' %}
        <link rel="stylesheet" href="{{ asset('css/saude-e-beleza.css') }}" type="text/css">
    {% endif %}
    <link rel="stylesheet" href="{{ asset('css/custom.css', {dynamic: true}) }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">

    <!-- tray analytics -->
    {{ tray.analytics }}

    <!-- google tag manager -->
    {{ googleTagManager.header(pages.current, tagManagerData) }}
</head>
<body>
    {{ googleTagManager.top(pages.current, tagManagerData) }}

    {% element 'snippets/menu-mobile' %}

    <div class="application">

        {% element 'header' %}

        <main class="site-main">
            <div class="col-sm-12">
                <section class="page-content col-sm-12">
                    {% if pages.current in ['catalog'] or pages.custom %}
                        <div class="container {{ pages.custom ? 'page-custom' : ''}}">
                    {% endif %}
                        {% for custom in pages.custom %}
                            {% if custom.slug == pages.current %}
                            <h1>{{ custom.name }}</h1>
                            {% endif %}
                        {% endfor %}
                        {{ content_for_layout }}
                    {% if pages.current in ['catalog'] or pages.custom %}
                        </div>
                    {% endif %}
                </section>
            </div>

            <div class="news-full col-xs-12 news-full-newsletter">
                {% element 'snippets/newsletter' %}
            </div>

            {% element 'footer' %}

            {% element 'snippets/messages' %}

        </main>

    </div>

    <!-- tray -->
    {% element 'snippets/modal' %}
    {{ googleTagManager.bottom(pages.current, tagManagerData) }}
    {{ tray.scripts }}
    {{
            html.script({
                '0' : tray.paths.js ~ 'dist/application.min.js?' ~ utils.assets_version,
                '1' : tray.paths.js ~ 'init.js?' ~ utils.assets_version
            })
    }}
    {% element 'snippets/pageview' %}
    {{ store.chat }}

    <!-- theme scripts-->
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/theme.min.js') }}"></script>

    {% if settings.background_image %}
    <style>
        .application{ background-image: url('{{ themePath }}{{ settings.background_image }}'); }
    </style>
    {% endif %}

</body>
</html>
{% endspaceless %}