{% if banner.title %}
    <div class="banner banner-title ">
        {{ banner.title }}
    </div>
{% endif %}

{% for discount in ProgressiveDiscounts %}
{% if discount.banner %}
   <img src="{{ discount.banner }}" alt="{{discount.name}}"/>  
{% endif %}
{% endfor %}


<section id="product-container" class="produto-wrapper product-detail" itemscope itemtype="http://schema.org/Product">
    {% element 'snippets/schema-product' %}
    <div class="clearfix">

        <div class="col-md-6 product-colum-left">

            {% if product.images %}
                <!-- <div id="visualBlock" class="product-gallery"> -->
                <div id="product-gallery" class="product-gallery">
                    <div class="product-image">
                        <figure>
                        {% if utils.is_mobile %}
                            <img itemprop="image" src="{{ product.images[0].full }}" alt="{{ product.name }}" title="{{ product.name }}">
                        {% else %}
                            <img itemprop="image"  data-original="{{ product.images[0].full }}" class="lazy" src="{{ asset('img/loading.svg') }}" alt="{{ product.name }}" title="{{ product.name }}">
                        {% endif %}
                        </figure>
                    </div>
                </div>
            {% else %}
                <div class="product-gallery no-image">
                    <figure>
                        <img src="{{ asset('img/no-image.svg') }}" alt="Nenhuma imagem foi cadastrada" title="Nenhuma imagem foi cadastrada">
                    </figure>
                </div>
            {% endif %}

			{% if settings.social_position == 0 %}
				<div class="product-social sidepicture hidden">
					{{ productHelper.social() }}
				</div>
			{% endif %}

        </div>

        <div class="col-md-6 product-colum-right">
            {% if productHelper.banner() %}{{ productHelper.banner() }}{% endif %}

            <h1 class="product-name" itemprop="name">{{ product.name }}</h1>
            {% element 'product/rating' %}

            {% for discount in ProgressiveDiscounts %}
            {% if discount.tag %}
                <div class="product-discount-recursive-tag">{{discount.tag}}</div>
                <div class="product-discount-recursive-desc">{{discount.description}}</div>
            {% endif %}
            {% endfor %}

            <p class="product-details hidden">
                {% if settings.show_product_stock %}
                    <span>Estoque: <b>{{ product.stock }}</b></span>
                {% endif %}
                {{ productHelper.details() }}
                {{ productHelper.icons() }}
            </p>

            <p class="product-details">
                <span class="dados-campo infoModelo">Código:</span>
                <strong class="dados-valor">{{ product.reference }}</strong>
            </p>

            <div id="descricao" class="prodBox">
                <div class="board">
                    <div class="board_htm description">
                        {{ product.description ? product.description : product.description_small }}
                    </div>
                </div>
            </div>

            <div class="hidden">
                {{ productHelper.bonus() }}
            </div>

            <form id="form_comprar" method="post" data-app="product.buy-form" action="{{ links.cart_add ~ product.id }}">
                
                {% if settings.cache_infopreco %}
                <div data-module="pricing" data-snippet="snippets/pricing" data-product-id="{{ product.id }}">
                    <div class="pricing">
                        Carregando...
                    </div>
                </div>
                {% else %}
                    {{ productHelper.pricing() }}
                {% endif %}
                
                {{ productHelper.variants() }}
                {{ productHelper.gifts() }}
                {{ product.additional_information }}

                <p class="product-details">
                    <strong class="Medidas">Medidas: P (21x29,7cm) | M (29,7cmx42cm) | G (41x59,4cm)</strong>
                </p>

                <div>
                {{ productHelper.form() }}
                </div>
                {{ productHelper.kit() }}
                {% if not product.upon_request and product.available %}
                    {{ productHelper.wishlist() }}
                {% endif %}

                <div class="hidden">
                    {{ productHelper.shipping() }}
                </div>

                {% if product.additional_message %}
                <div class="additional-message">
                    {{ product.additional_message }}
                </div>
                {% endif %}
            </form>

			{% if settings.social_position == 1 %}
				<div class="product-social">
					{{ productHelper.social() }}
				</div>
			{% endif %}
        </div>
    </div>
</section>

<section id="ProdBlock" class="product-tabs hidden">
    <a name="formaPagto"></a>
    <div id="ProdAbas" class="abasProduto tab-panel">
        <ul class="clearfix">
            {% for key, tab in productTabs %}
              {% if tab.container_id %}
              <li id="{{ tab.id }}" {% if key=='description' %}class="aberta" {% endif %}>
                <a href="#" data-tab-container-id="{{ tab.container_id }}" data-tab-url="{{ tab.url }}">{{ tab.description }}</a>
              </li>
              {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div id="itensInclusos" class="prodBox">
        <div class="board">
            {{ product.included_items }}
        </div>
    </div>

    <div id="coments" class="prodBox">
        <div class="board">
            {% element 'product/comments' %}
        </div>
    </div>

    <div id="caracteristicas" class="prodBox">
        <div class='board'>
            {% element 'product/properties' %}
        </div>
    </div>

    {{ productTabs.custom.content }}
    {{ productTabs.downloads.content }}

    <div id="garantia" class="prodBox">
        <img class="loader" src="{{ tray.paths.system_image }}/big-loading.svg"  />
    </div>
    <div data-app="product.payment-methods" id="formasPagto" class="prodBox"  ></div>
</section>

{% if banner.bottom %}
    <div class="banner banner-bottom ">
        {{ banner.bottom }}
    </div>
{% endif %}